.field
  - if field.multiple_choice_id.blank?
    = f.label field.name, "#{position}. #{field.name}"
    = f.check_box field.name
  - else
    %div
      = "#{position}. #{field.name}"
    %div
      - field.multiple_choice.options.order('position').each do |option|
        %span
          = check_box_tag "form_answer[content][#{field.name}][]", option.id, (f.object.send(field.name).include?(option.id.to_s) rescue nil)
          = f.label option.name

